<div class="search-container">
    <input type="search"
           class="search-bar"
           placeholder="@Placeholder" />
</div>

@code {
    [Parameter]
    public string Placeholder { get; set; } = "Search...";
}